@charset "UTF-8";
/* CSS document */
html body {
    font-family: 'Montserrat', serif;
    background-color: rgb(16, 3, 36);
}
.yellow-col {
    background-color: yellow;
    padding: 20px;
}
.brown-col {
   background-color: brown;
   padding: 20px;
}
.red-col {
    background-color: red;
    padding: 20px;
}
.blue-col {
   background-color: blue;
   padding: 20px;
}
.green-col {
    background-color: green;
    padding: 20px;
}
.pink-col {
   background-color: pink;
   padding: 20px;
}
.orange-col {
    background-color: orange;
    padding: 20px;
}
.purple-col {
   background-color: purple;
   padding: 20px;
}
.azul-col {
    background-color: azure;
    padding: 20px;
 }
